Bind/pkgs/Wadl/ActualizarRegistrosKPI.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ActualizarRegistrosKPI" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ActualizarRegistrosKPI" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_IDKPI_Valor_def" />
      <string name="ManualTriggerInput_LineaBaseKPI_Valor_def" />
      <string name="ManualTriggerInput_MetaKPI_Valor_def" />
      <string name="ManualTriggerInput_FormulaKPI_Valor_def" />
      <string name="ManualTriggerInput_FechaPropuestaKPI_Valor_def" />
      <string name="ManualTriggerInput_FuenteDatosKPI_Valor_def" />
      <boolean name="ManualTriggerInput_KPIOutCome_Valor_def" />
      <object name="ManualTriggerInput">
        <property name="IDKPI_Valor" type="integer" />
        <property name="LineaBaseKPI_Valor" type="string" />
        <property name="MetaKPI_Valor" type="string" />
        <property name="FormulaKPI_Valor" type="string" />
        <property name="FechaPropuestaKPI_Valor" type="string" />
        <property name="FuenteDatosKPI_Valor" type="string" />
        <property name="KPIOutCome_Valor" type="boolean" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="IDKPI_Valor" path="/IDKPI_Valor" type="xs:long" required="true" />
            <param style="plain" name="LineaBaseKPI_Valor" path="/LineaBaseKPI_Valor" type="xs:string" required="true" />
            <param style="plain" name="MetaKPI_Valor" path="/MetaKPI_Valor" type="xs:string" required="true" />
            <param style="plain" name="FormulaKPI_Valor" path="/FormulaKPI_Valor" type="xs:string" required="true" />
            <param style="plain" name="FechaPropuestaKPI_Valor" path="/FechaPropuestaKPI_Valor" type="xs:string" required="true" />
            <param style="plain" name="FuenteDatosKPI_Valor" path="/FuenteDatosKPI_Valor" type="xs:string" required="true" />
            <param style="plain" name="KPIOutCome_Valor" path="/KPIOutCome_Valor" type="xs:boolean" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>